*{
  text-decoration: none;
  margin 0;
  padding: 0;
  box-sizing: border-box;
  
}
h1, h2, p, a{
  font-family: roboto;
}

body {
  padding: 70px;
}

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}






nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-info {
  position: relative;
  z-index: 2;
  color: white;
}

nav {
  position: fixed;
  background-color: white;
  font-family: roboto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  height: 80px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 8px solid rgb(128, 194, 66);
  
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
li{
  list-style: none;
  
}

li a{
  color: rgb(29, 23, 75);
  font-size: 14px;
  font-weight: medium;
  margin-right: 30px;
}



.reduce-logo {
  width: 230px;
  margin-left: 30px;
  margin-top: 4px;
}

ul li a:hover {
  color: rgb(128, 194, 66);
  text-decoration: underline;
}

.menu-bar i{
  color: rgb(29, 23, 75);
  font-size: 20px;
}

.menu-bar {
  display: none;
  cursor: pointer;
}

.book-consult {
    background:rgb(29, 23, 75);
    padding: 10px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.5s ease;
}

.book-consult:hover {
    background: rgb(128, 194, 66);
    color: rgb(29, 23, 75);
    text-decoration: none;
}


.we-offer {
  margin-top: 70px;
  margin-left: 100px;
  display: inline-block;
}
.the-best {
  font-size: 100px;
  width: 700px;
  color: rgb(29, 23, 75);
  line-height: 100px;
}

.offer, .strategy, .solution {
  display: block;
}
.solution {
  color: rgb(128, 194, 66);
}

.content-bq {
  display: inline-block;
  margin-top: 130px;
  vertical-align: top;
  margin-left: 70px;  
}

.unique {
  width: 560px;
  font-size: 18px;
  font-weight: normal;
  color: gray;
  margin-bottom: 50px;  
}

.service-button {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: medium;
  background-color: rgb(128, 194, 66);
  transition: 0.5s;
  }

.service-button:hover {
    background: rgb(29, 23, 75);
    color: white;
    text-decoration: none; 
}

.serv-button {
  margin-bottom: 100px;
}


.serv-main {
  text-align: center;
  color: rgb(29, 23, 75);
  font-size: 25px;
  margin-bottom: 0;
}

.underline-serv {
  width: 200px;
  height: 5px;
  background-color: rgb(128, 194, 66);
  margin: 8px auto;
  }


  .service-one {
    width: 500px;
  }

  .servicemain {
  margin: auto 120px;
  padding-bottom: 20px;
  padding-left: 70px;
  }

  .servone {
    display: inline-block;
  }

  .servone-tag {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 70px;
    padding-top: 60px;
    transition: 0.5s;
  }

  .develop {
    width: 600px;
    font-size: 20px;
    color: gray;
  }

.branding {
  font-size: 40px;
  margin: auto;
  color: rgb(29, 23, 75);
}



.dividing {
  background-color: rgb(207, 207, 207);
  height: 2px;
  width: 1000px;
  margin: 50px auto;
  padding: 0px;
}


.servone-tag:hover {
  padding-left: 8px;
}







.footer {
  background-color: rgb(29, 23, 75);
  padding: 35px;
}

.media-icons {
  display: flex;
  width: 300px;
  padding: 10px;
  gap: 10px;
  margin-bottom: 0px;
  }


 .icons {
  color: white;
  font-size: 20px;
 }

 .all-rights {
  color: white;
  font-size: 12px;
  font-weight: normal;
  margin-top: 0px;
  padding: 0px;

 }

.down-one {
  margin-left: 70px;
  width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.down-two {
  display: inline-block;
  width: 500px;
  vertical-align: middle;
  margin-left: 120px;
  padding: 0px;
}


.you-biz {
  color: white;
  font-size: 30px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

.contact-us {
  color: rgb(128, 194, 66);
  font-weight: normal;
  font-size: 14px;
  width: 300px;
}

.last-book {
  display: inline-block;
  width: auto;
}

.last-button {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-color: rgb(128, 194, 66);
  color: rgb(29, 23, 75);
  border: none;
  border-radius: 50px;
  margin-left: 150px;  
}

.last-button:hover {
  background-color: white;
  color: rgb(29, 23, 75);
}







@media (max-width: 600px) 
{
nav ul{
 position: absolute;
 top: 60px; 
 left: 0;
 right: 0;
 flex-direction: column;
 text-align: center;
 gap: 30px;
 background-color: white;
 overflow: hidden;
 margin-top: 20px;
 max-height: 0;
 z-index: 999;
} 

li{
  margin-top: 20px;
}
nav ul.show {
  max-height: 300px;
}
.menu-bar {
  display: block;
}
#menuList {
  transition: all 0.5s;
}

.reduce-logo {
  width: 180px;
  margin-left: 0px;
}

.book-consult {
  display: none;
}

.aware {
  font-size: 70px;
}

.reduce-logo {
  width: 180px;
  margin-left: 0px;
}




.we-offer {
  margin-top: 120px;
  margin-left: 30px;
  display: block;
}

.the-best {
  font-size: 70px;
  width: 430px;
  color: rgb(29, 23, 75);
  line-height: 65px;
  }


  .content-bq {
  display: block;
  margin-top: 20px;
  margin-left: 30px;
}

.unique {
  width: 400px;
  font-size: 16px;
  font-weight: normal;
  color: gray;
  margin-bottom: 70px;  
}

  .servicemain {
  margin: auto;
  padding: 0px;
  }


.dividing {
  background-color: rgb(207, 207, 207);
  height: 2px;
  width: 1000px;
  margin: 50px auto;
  padding: 0px;
  }



  .servone-tag {
    display: inline-block;
    margin-top: 0px;
    margin-left: 30px;
    padding-top: 60px;
  }


 .develop {
    width: 400px;
    font-size: 18px;
    color: gray;
  }


.branding {
  font-size: 30px;
  margin: auto;
  color: rgb(29, 23, 75);
}






  .down-one {
    margin-left: 0px;
    display: block;
  }
  .down-two {
    margin-left: 0px;
    display: block;
  }

  .you-biz {
    font-size: 25px;
  }
  .last-button {
    display: block;
    margin-left: 0px;
  }

